.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navigation {
  background: #16408c;
  padding: 20px;
}

.title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  display: block;
}

.categoriesList {
  list-style: disc;
}

.categoriesListItem {
  padding: 10px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
