.loader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.8);
    z-index: 2;
}

.loader p {
    padding-top: 10px;
}