.waitlistSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 60px 0;
  padding: 20px 0;
  background-color: var(--background-landing-page);
}

.header {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-landing-page);
  margin-bottom: 16px;
  font-family: var(--font-poppins), sans-serif;
}

.highlight {
  color: var(--landing-page-primary-color);
}

.subtitle {
  font-size: 20px;
  color: var(--landing-page-subtitle-color);
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
}

.formContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
    padding: 0 20px;
  }

  .formContainer {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .formContainer {
    max-width: 350px;
  }
}